body{
	background-color: #DCDCDC;
}

#titleFeed {
	text-align: center;
	font-family: "Impact";
	font-size: 40px;
}

#caixaTextoUser {
	margin-left: 100px;
	width: 200px;
	height: 30px;
	font-family: "Impact";
	border-radius: 5px;
	box-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

#caixaTextoPost {
	margin-left: 100px;
	width: 300px;
	height: 100px;
	font-family: "Impact";
	border-radius: 5px;
	box-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

#tudo {
	border-radius: 5px;
	box-shadow: 1px 1px 1px black, -1px -1px 1px black;
	background-color: #757575;
	width: 900px;
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
	margin-bottom: 50px; 
}

#postBtn {
	margin-left: 38px;
	margin-top: 70px;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px black, -1px -1px 1px black;
	font-family: "Impact";
}

#userandPost {
	border-radius: 5px;
	background-color: white;
	box-shadow: 1px 1px 1px black, -1px -1px 1px black;
	left: 
	width: 900px;
	font-family: "Impact";
}

#likeBtn {
	background-color: #1E90FF;
	border-radius: 5px;
}

#dislikeBtn {
	background-color: #B22222;
	border-radius: 5px;
}

